{% extends "layout.html" %}
{% block body %}

<p> Your Current Balance: {{wallet.current_value}}</p>


{% if products==[]%}
<p> There are currently projects in the database. </p>
{% else %}
<div class="container-fluid">
  {% for product in products %}
  {%if loop.index0 % 3 == 0 %}
  <div class="row">
    {% endif %}
    <div class="col-md-4 itemDiv">
 <a href={{url_for('showProduct', product_id = product.id)}}>
    <p>{{product.team.name}}</p>
    <img "{{url_for('uploaded_file', filename=product.photo|string)}}" height="250" >
</a>
      	</div>


  {% if loop.index0 % 3 == 2%}
</div>
{% endif %}
  {% endfor %}
  {%endif%}

	</div>




{%endblock%}

