{% extends "layout.html" %}
{% block body %}

<h1> Sign Up as a New User</h1>

<form action = "#", method = 'post'>

<p>First Name:</p><br>
  <input type="text" name="first_name"><br>

 <p>Last Name:</p><br>
  <input type="text" name="last_name"><br>
 <p>Password:</p><br>
  <input type="password" name="password"><br>
 <p>Verify Password:</p><br>
  <input type="password" name="verify_password"><br>
 <p>Hometown:</p>
  <input type="text" name="hometown"><br>
 <p>Email:</p>
  <input type="email" name="email"><br>
  

   <input type="submit" value="Sign Up">


</form>
{%endblock%}