{% extends "layout.html" %}
{% block body %}

<h2> Welcome {{user.first_name}}</h2>
<h3> {{team.name}}</h3>





<!-- Before Competition --> 
<h1> Your Team Profile </h1>
<form action="{{ url_for('updateSubmission') }}" method = 'post'  enctype="multipart/form-data">

<p> Your Team Name </p>
<input type = "text", name = "team_name", value = '{{team.name}}'>

<p> MVP Photo </p> 
<img src = "{{url_for('uploaded_file', filename=team.product.photo)}}" width = 300px >
<input type=file name='file'><br>

<p> English MVP Description </p>
<textarea name='description_en'>{{team.product.description_en}}</textarea>

<p> Arabic MVP Description </p>
<textarea name='description_ar'>{{team.product.description_ar}}</textarea>


<p> Hebrew MVP Description </p>
<textarea name='description_he'>{{team.product.description_he}}</textarea>


<p>MVP URL</p>
<input type = 'text', name='website_url', value = '{{team.product.website_url}}'>

<p> MVP Commercial</p>
	<input type='text', name='video_url', value = '{{team.product.video}}'>


	<input type="submit" name="Save Changes" id="submit">
</form>
<!--- During Competition>
<p>Investments</p>

<p>Comments</p> 

<p> View Dashboard</p--> 

	
{%endblock%}